.avisos{
    min-height: 100vh;
    overflow-y: auto;
    background-color: #3b3b3b;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 2px grey;
    margin-top: 2%;
}

.cartas{
    background-color: rgb(133, 133, 133);
}

.cartas:hover{
    background-color: #69f0ae;
    color: black;
}