.avisos{
    min-height: 100vh;
    overflow-y: auto;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 2px grey;
}

.cartas{
    background-color: rgb(243, 228, 93);
    border: 2px solid black;
}

.cartas:hover{
    background-color: rgb(211, 195, 20)
}