<mat-toolbar class="toolbar">
    <button mat-mini-fab matTooltip="Ocultar listado" class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleDrawer()" color="accent">
      <mat-icon>menu_open</mat-icon>
    </button>
    <span>Listado de avisos</span>
</mat-toolbar>

<mat-drawer-container class="example-container" [class.hide-content]="isMobile && !isContentMode">
    <mat-drawer mode="side" [opened]="drawerOpened">
        <app-avisos *ngIf="drawerOpened || screenWidth>=425"></app-avisos>
    </mat-drawer>
    <mat-drawer-content>
        <app-mapa *ngIf="!drawerOpened || screenWidth>=425"></app-mapa>
    </mat-drawer-content>
</mat-drawer-container>

<button mat-raised-button *ngIf="drawerOpened" (click)="toggleDrawer()" class="buttonMovil" color="accent">Mapa</button> 
<button mat-raised-button *ngIf="!drawerOpened" (click)="toggleDrawer()" class="buttonMovil" color="accent">Listado</button>

<!--
    [class.hide-button]="screenWidth<425"
-->